// PARTIALS
@import "partials/_setup.scss";
@import "partials/_typography.scss";
@import "partials/_menu.scss";
@import "partials/_footer.scss";

.header--wrapper__directing {
    // border: 1px solid red;
    width: 100%;
    height: 40vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.65)), url("../../public/assets/hero-directing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    h1, i {
        text-shadow: 1px 1px 3px $mdgrey;
        color: $dkgrey;
        width: 80%;
        transition: all 0.2s ease-in-out;
    }
    i:hover {
        color: $blue;
    }
}
.timeline-wrapper {
    display: flex;
    flex-direction: row;
    .timeline {
        width: 70%;
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        .container {
            padding: 10px 40px;
            position: relative;
            background-color: inherit;
            width: 50%;
            .timeline-item {
                padding: 20px 30px;
                background-color: white;
                position: relative;
                border-radius: 6px;
                border: 1px solid $mdgrey
            }
        }
        .container::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            right: -17px;
            background-color: white;
            border: 4px solid $mdgrey;
            top: 15px;
            border-radius: 50%;
            z-index: 1;
        }
        .left {
            left: 0;
        }
        .left::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            right: 30px;
            border: medium solid $mdgrey;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent $mdgrey;
        }
        .right {
            left: 50%;
        }
        .right::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            left: 30px;
            border: medium solid $mdgrey;
            border-width: 10px 10px 10px 0;
            border-color: transparent $mdgrey transparent transparent;
        }
        .right::after {
            left: -16px;
        }
    }
    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: $ltgrey;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }
    .quotes {
        width: 30%;
        padding: 5%;
        div {
            padding: 25px 0;
        }
    }
}

.hide-quote {
    display: none;
}