// ---------- SLIDE IN MENU -----------
.nav {
    position: fixed;
    left: -300px;
	top: 0;
	bottom: 0;
	list-style: none;
    width: 250px;
    height: 375px;
    background: rgba(255,255,255,0.9);
	margin: 0;
    padding-top: 20px;
	line-height: 15px;
	transition: all 0.5s;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
	z-index: 20;
    li {
        width: 100%;
        list-style: none;
        a {
            @include title-styles(22);
            text-align: left;
            color: black;
            text-decoration: none;
            margin: 0;
            padding: 40px 20px 0;
            display: inline-block;
            width: 100%;
            &:hover {
                color: $blue;
                transition: all 0.3s;
                border-bottom: 1px solid $mdblue;
            }
        }
    }
}

.site--wrapper {
	width: 100%;
	position: relative;
	left: 0;
	transition: all 0.5s;
	// border: 1px solid red;
}

#toggle:checked + .nav {
	left: 0;
}
input:checked {
	left: 200px;
}
#toggle {
    display: none;
}


// HAMBURGER MENU
#nav-icon {
    width: 40px;
    height: 30px;
    margin: 5px auto 0;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: black;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
    top: 11px;
}

#nav-icon span:nth-child(4) {
    top: 22px;
}

#nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}


// ---- TOP BAR ----
.top-bar {
    width: 100%;
    max-width: 2600px;
	height: 40px;
	position: fixed;
	top: 0px;
    left: 0px;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
    z-index: 30;
	label {
		font-size: 25px;
        padding-left: 20px;
        color: white;
	}
	#nav-icon {	
        color: black;
        display: none;
    }
	.container--nav {	
        display: block;
        width: 95%;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            list-style: none;
            li {
                padding: 15px;
                a {
                    @include title-styles(18);
                    transition: all 0.3s ease-in-out;
                    padding: 0 5%;
                    text-decoration: none;
                    border-bottom: 1px solid rgba(255,255,255,0);
                    &:hover {
                        color: $blue;
                        transition: all 0.5s;
                        border-bottom: 1px solid $blue;
                    }
                }
            }
        }
    }
}

// HERO
.site--wrapper {
    .hero {
        // border: 1px solid red;
        width: 100%;
        .hero--image__full{
            width: 100%;
            height: 55vh;
            background: url("../../public/assets/hero-full.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            img {
                width: 100%;
                display: block;
            }
        }
        .hero--titles {
            position: absolute;
            top: 2%;
            left: 9%;
        }
    }
}
// ------ RESPONSIVENESS ------

@media (max-width: 1060px) {
    .top-bar {
        .container--nav {
            display: none;
        }
        #nav-icon {
            display: block;
        }
    }
}