$basefont1: 'Comfortaa', sans-serif;
$basefont2: 'Lato', sans-serif;

$blue: #15379f;
$mdblue: #c7d1d1;
$ltblue: #f1f3f3;
$dkgrey: #222222;
$mdgrey: #5d5e5d;
$ltgrey: #e3e8e8;

@mixin title-styles($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
    font-family: $basefont1;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}
@mixin paragraph-styles($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
    font-family: $basefont2;
    font-weight: 300;
    letter-spacing: 1px;
    color: black;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.7rem;
}
h1 {
    @include title-styles (40);
    letter-spacing: 5px;
    text-align: left;
}
h2 {
    @include title-styles (25);
    text-align: left;
    letter-spacing: 2px;
    line-height: 35px;
}
h3 {
    @include title-styles (25);
}
h4 {
    @include title-styles (20);
}
h5 {
    @include paragraph-styles(12);
    font-weight: 300;
    color: $mdgrey;
}
p {
    @include paragraph-styles(17);
    line-height: 25px;
}
a {
    text-decoration: none;
    
}
ul, li {
    @include paragraph-styles (17);
}
.container--nav {
    li {
        @include title-styles(18);
    }
    p {
        @include paragraph-styles (18);
    }
}
i {
    @include paragraph-styles(30);
}