// PARTIALS
@import "partials/_setup.scss";
@import "partials/_typography.scss";
@import "partials/_menu.scss";
@import "partials/_footer.scss";
@import "partials/_writing.scss";
@import "partials/_directing.scss";


// ----- ABOUT ME -----
#about {
    width: 100%;
    padding: 5% 0;
    display: flex;
    flex-direction: row;
    .about-text {
        padding: 0 2% 0 10%;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        h3, p {
            padding-bottom: 2%;
        }
    }
    .about-image {
        width: 30%;
        background: url("../../public/assets/about-me.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        img {
            width: 100%;
            display: block;
        }
    }
}

// ----- PORTFOLIO -----
#portfolio {
    width: 100%;
    padding: 5% 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .portfolio-title {
        width: 100%;
        padding: 0 2% 0 10%;
        h3 {
            padding-bottom: 2%;
        }
    }
    .portfolio-content {
        display: flex;
        flex-direction: row;
    }
    .portfolio-image {
        width: 70%;
        background-image: url("../../public/assets/portfolio.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        .portfolio-left {
            width: calc(50% - 6px);
        }
        .portfolio-space {
            width: 3px;
        }
        .portfolio-writing, .portfolio-directing {
            background-color: rgba(255, 255, 255, 0.5);
            width: 25%;
            transition: ease-in 0.3s;
            &:hover {
                background-color: rgba(255, 255, 255, 0.8);  
            }
            h3 {
                padding: 25% 0;
                text-align: center;
            }
        }
    }
    .portfolio-quote {
        width: 30%;
        padding: 5%;
        background-color: $ltblue;

    }
}
// ----- NEWS -----
#news {
    width: 100%;
    padding: 5% 0;
    background-image: url("../../public/assets/news.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    .news-content {
        width: 100%;
        padding: 0 5% 0 10%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        h3, p {
            padding-bottom: 2%;
        }
        .news-button {
            margin: 0 auto;
            padding: 10px 30px;
            background-color: $ltblue;
            border: 1px solid $mdgrey;
            @include title-styles(15);
            color: $mdgrey;
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: $blue;
                border: 1px solid black;
                color: white;
            }
        }
    }
}

// ----- FORM -----
#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10% 0;
    background-color: $ltblue;
    .contact-text {
        width: 80%;
        padding-bottom: 1%;
        h3, p {
            padding: 2% 0;
        }
    }
}
form {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .form-top, .form-bottom {
        width: 100%;
        display: flex;
        flex-direction: row;
        .form-row_left, .form-row_right {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .full-name, .email {
        box-shadow: none;
        background-color: $ltblue;
        border: 1px solid $mdgrey;
        width: 95%;
        height: 45px;
        padding: 2% 1%;
        @include paragraph-styles(15);
    }
    .message {
        background-color: $ltblue;
        border: 1px solid $mdgrey;
        width: 95%;
        height: 100px;
        padding: 1% 1% 8%;
        @include paragraph-styles(15);
    }
    .hidden {
        display: none;
    }
    .submit {
        margin: 10px auto 0;
        padding: 10px 30px;
        background-color: $ltblue;
        border: 1px solid $mdgrey;
        @include title-styles(15);
        color: $mdgrey;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: $blue;
            border: 1px solid black;
            color: white;
        }
    }
}

// RESPONSIVENESS
@media (max-width: 950px) {
    // PORTFOLIO
    #portfolio {
        .portfolio-image {
            width: 60%;
            .portfolio-left {
                width: 0;
            }
            .portfolio-writing, .portfolio-directing {
                width: calc(50% - 3px);
            }
            .portfolio-space {
                width: 3px;
            }
        }
        .portfolio-quote {
            width: 40%;
            padding: 5%;
        }
    }
}
@media (max-width: 650px) {
    // HERO

    // ABOUT ME
    #about {
        flex-direction: column;
        .about-text {
            padding: 0 2% 0 10%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-content: space-between;
            h3, p {
                padding-bottom: 2%;
            }
        }
    }
    // PORTFOLIO
    #portfolio {
        .portfolio-content {
            flex-direction: column;
            .portfolio-image {
                width: 100%;
                .portfolio-left {
                    width: 0;
                }
                .portfolio-writing, .portfolio-directing {
                    width: calc(50% - 3px);
                    h3 {
                        padding: 50% 0;
                    }
                }
                .portfolio-space {
                    width: 3px;
                }
            }
            .portfolio-quote {
                width: 100%;
                padding: 8%;
            }
        }
    }
    // NEWS
    #news {
        padding: 8% 0;
    }
    // CONTACT ME
    #contact {
        .form-top, .form-bottom {
            flex-direction: column;
            .form-row_left, .form-row_right {
                width: 100%;
                padding-bottom: 0px;
            }
        }
        .full-name, .email {
            padding: 2% 5%;
            margin-bottom: 3px;
        }
        .message {
            padding: 1% 5% 8%;
        }
    }
}